html {
    font-size: 16px;
  }
  
  body {
    background-color: var(--mantine-color-background-1);
    font-weight: 500;
  }
  
  .test .mantine-Select-root:last-of-type .mantine-Select-input {
    border-right: 1px solid red !important;
  }
  